.Badge {
    display: inline-block;
    margin: 13px 0;
    padding: 6px;
    text-align: center;
    font-weight: bold;
  }
  
  .Blue {
    background: var(--blue);
    border-radius: 11px;
    }
    
    .Yellow {
    background: var(--yellow);
    border-radius: 11px;
    }
    
    .Red {
    background: var(--red);
    border-radius: 11px;
    }